form {
  display: inline-block;
}

fieldset {
  border: solid dodgerblue;
}

.center {
  text-align: center;
}

#color {
  width: 100%;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.padding-right {
  padding-right: 70px;
}

.width-full {
  width: 100%;
}

.feedback_overview {
  width: 155px;
}
