$default-button-color: #808080;
$default-button-hover-color: #d3d3d3;
$default-button-active-color: #a9a9a9;
$primary-default: #4e92ff;
$primary-hover: #447fde;
$primary-active: #3b6fc2;
$secondary-default: #f89052;
$secondary-hover: #dc7f47;
$secondary-active: #bd6937;
$success-default: #60cf57;
$success-hover: #4aba42;
$success-active: #3da235;
$danger-default: #f05b5b;
$danger-hover: #bf4141;
$danger-active: #ac2d2d;
$warning-default: #ffcf31;
$warning-hover: #eebd1c;
$warning-active: #d6a917;
$info-default: #0fbdb4;
$info-hover: #0ca099;
$info-active: #0a8a83;
$btn-letter-color: #fff;

$checkbox-color-green: #52be80;
$checkbox-color-orange: #f89052;
$checkbox-color-blue: #4e92ff;
$checkbox-color-pink: #f05b5b;
$checkbox-color-black: #3c3b3b;
$checkbox-label-unchecked-color:#fff;
$checkbox-disabled-color-green: rgba(82, 190, 128, 0.59);
$checkbox-disabled-color-orange: rgba(246, 167, 120, 0.59);
$checkbox-disabled-color-blue: rgba(78, 146, 255, 0.59);
$checkbox-disabled-color-pink: rgba(240, 91, 91, 0.59);
$checkbox-disabled-color-black: rgba(60, 59, 59, 0.59);
$checkbox-label-unchecked-disabled-color:#e6e6e6;

$tabs-label-color-green: #52be80;
$tabs-label-color-red: #e74c3c;
$roboto-font-color: #5d5d5d;
$tab-font-color: #aca8a8;
$tab-border-color: #d8d8d8;

$pagination-background-color: #f6f6f6;
$pagination-background-color-hover: #f6f6f6;
$pagination-disabled-font-color: #dadada;
