$btn-height: 49px;
$btn-width: 180px;
$btn-border-radius: 5px;
$checkbox-height: 30px;
$checkbox-width: 30px;
$input-border-radius: 5px;
$font-roboto-bold: "RobotoBold";
$font-roboto-bold-path: "../fonts/Roboto-bold/Roboto-bold";
$font-roboto-regular: "RobotoRegular";
$font-roboto-regular-path: "../fonts/Roboto-regular/Roboto-regular";
$font-size: 18px;
