$lucida-grande-bold: "LucidaGrandeBold";
$fontsource-lucida-grande-bold-path: "../fonts/Lucida-Grande/Lucida-Grande-Bold";
$lucida-grande-regular: "LucidaGrandeRegular";
$fontsource-lucida-grande-regular-path: "../fonts/Lucida-Grande/Lucida-Grande-Regular";
$libre-franklin-bold: "LibreFranklinBold";
$fontsource-libre-franklin-bold-path: "../fonts/Libre-Franklin/Libre-Franklin-Bold";
$libre-franklin-medium: "LibreFranklinMedium";
$fontsource-libre-franklin-medium-path: "../fonts/Libre-Franklin/Libre-Franklin-Medium";
$libre-franklin-regular: "LibreFranklinRegular";
$fontsource-libre-franklin-regular-path: "../fonts/Libre-Franklin/Libre-Franklin-Regular";
