$white: #fff;
$item-background: #fcfcfc;
$soft-pink: #ffc2a6;
$soft-green: #bfe79e;
$soft-blue: #7dd5c9;
$dirty-blue: #578b84;

$header-background: #e9eae2;
$menu-label-hover: #8be5d9;
$kitchen-logo-background: #e1e1e1;
$dark-font-color: #5a5a5a;
$shaker-image-text-color: #85ba59;
$bowls-image-text-color: #ff915e;
