.item-radio__label--selected {
  display: flex;
  background-color: #7dd5c9;
}

.aside-container-showed {
  width: 380px;
  opacity: 1;
}

.display-flex-row {
  display: flex;
  flex-direction: row;
}
