.kitchen {
  width: 1500px;
  height: 375px;
  display: flex;
  background-image: url("../img/kitchen.png");

  .logo {
    margin: 117px 0 0 458px;
  }

  .logo__container {
    width: 140px;
    height: 140px;
  }

  .logo__background {
    fill: $kitchen-logo-background;
  }

  .logo__ruby {
    @include sprite(40px, 40px, -391px, -10px);

    position: absolute;
    margin: 36px 0 0 55px;
  }

  .logo__sign {
    width: 89px;
    height: 36px;
    font-size: 28px;
    line-height: 36px;
    color: $dark-font-color;
    font-family: "SourceSansProRegular", sans-serif;
    margin: 71px 0 0 25px;
    display: inline-block;
    letter-spacing: -2.5px;
    position: absolute;
  }
}
