$source-sans-pro-regular: "SourceSansProRegular";
$fontsource-sans-pro-regular-path: "../fonts/Source-sans-pro/SourceSansPro-Regular";
$source-sans-pro-light: "SourceSansProLight";
$fontsource-sans-pro-light-path: "../fonts/Source-sans-pro/SourceSansPro-Light";
$source-sans-pro-bold: "SourceSansProBold";
$fontsource-sans-pro-bold-path: "../fonts/Source-sans-pro/SourceSansPro-Bold";
$source-sans-pro-semibold: "SourceSansProSemibold";
$fontsource-sans-pro-semibold-path: "../fonts/Source-sans-pro/SourceSansPro-Semibold";

$triangle-border: 140px solid transparent;
