.checkbox__label-basic {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  padding: 8px 6px;
  vertical-align: top;
  border: 1px solid #aeaeae;
}

.label-basic {
  display: inline-block;
  text-align: center;
  padding-top: 10px;
}
