.container {
  background-color: #363537;
  width: 100%;
  height: 100%;
  position: absolute;
}

.calendar {
  width: 490px;
  height: 490px;
  border-spacing: 0;
  background-color: white;
}

.calendar__title {
  background-color: #30b8a4;
  height: 50px;
  color: white;
  font-size: 50px;
  padding: 10px;
}

.calendar__heading {
  background-color: #30b8a4;
}

.week__day {
  width: 70px;
  height: 70px;
  text-align: center;
  vertical-align: middle;
  font-size: x-large;
  padding: 0;
  -webkit-transition: background 1s ease;
}

.week__day:hover {
  background-color: #6840d7;
  color: white;
}

.week__day-name {
  color: white;
  font-size: 24px;
  text-align: center;
}

.week__day--non-current-month {
  background-color: #ddd;
  color: silver;
}

.week__day--non-current-month:hover {
  background-color: #ddd;
  color: silver;
}

.week__day-number {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-transition: color 1s ease;
  box-sizing: border-box;
  padding: 20px;
}

.week__radio-button {
  display: none;
}

.week__radio-button:checked + .week__day-number {
  background-color: #331ca0;
  color: white;
}

.week__day--current {
  background-color: #df5f86;
  color: white;
}

.week__day--current:hover {
  background-color: #9e37e2;
}

.week__radio-button--current:checked + .week__day-number--current {
  background-color: #790051;
}
