.contact {
  margin-bottom: 3px;
}

.contact__left {
  display: inline-block;
  width: 720px;
  margin-right: 115px;
  padding-top: 5px;
}

.contact__right {
  display: inline-block;
  vertical-align: top;
  width: 580px;
}

.contact__title {
  font-size: 50px;
  margin: 60px 0 11px 0;
  letter-spacing: 1px;
}

.form-container__title {
  font-size: 30px;
  font-weight: normal;
  line-height: 36px;
  margin-bottom: 40px;
}

.form__item {
  display: inline-block;
  height: 80px;
  width: 340px;
  margin: 0 15px 25px 0;
}

.form__label {
  margin-bottom: 10px;
  display: inline-block;
}

.form__text-input {
  width: 340px;
  height: 48px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 22px;
  color: #a6a6a6;
  padding-left: 14px;
  font-family: "Lato", serif;
  letter-spacing: -0.15px;
  word-spacing: -0.7px;
}

.form__text-input:hover {
  color: #838383;
}

.form__text-input:focus {
  color: #474747;
}

.form__gender-title {
  margin: 0 0 20px 0;
  word-spacing: -0.9px;
}

.form__gender-item {
  margin-bottom: 12px;
}

.form__text-radio {
  width: 24px;
  height: 24px;
  margin: 0 0 0 1px;
}

.form__label--gender {
  margin: 0 0 10px 10px;
  vertical-align: top;
}

.form__textarea {
  width: 684px;
  margin-top: 5px;
  height: 116px;
  font-family: "Lato", serif;
  letter-spacing: -0.15px;
  word-spacing: -0.7px;
  font-size: 18px;
  line-height: 22px;
  color: #a6a6a6;
  padding: 12px 0 0 14px;
}

.form__item--terms-conditions {
  height: 29px;
}

.form-item--message {
  width: 700px;
  height: 135px;
}

.form__text-checkbox {
  width: 24px;
  height: 24px;
  margin: 0 6px 0 1px;
}

.form__label--terms-conditions {
  vertical-align: top;
  word-spacing: -0.7px;
}

.form-item--submit {
  display: block;
}

.form__submit {
  display: inline-block;
  background-color: #ec6767;
  font-family: "Lato-bold", sans-serif;
  width: 220px;
  height: 48px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  text-align: center;
  padding-left: 6px;
  padding-top: 3px;
  border: none;
}

.form__submit:hover {
  background-color: #cf5858;
}

.form__submit:active {
  background-color: #b64747;
}

.contact-information__title {
  font-size: 30px;
  font-weight: normal;
  line-height: 36px;
  margin: 30px 0 20px 0;
  letter-spacing: 0.3px;
  word-spacing: -2.8px;
}

.contact-information__paragraph {
  width: 580px;
  word-spacing: -0.7px;
  line-height: 27px;
  margin-bottom: 42px;
}

.contact-information__item {
  margin-bottom: 21px;
}

.contact-information__item--phone {
  margin-bottom: 20px;
}

.contact-information__text {
  vertical-align: top;
  display: inline-block;
  padding-top: 0;
}

.contact-information__text--address {
  padding-top: 4px;
}

.contact-information__text--phone {
  letter-spacing: -0.2px;
  padding-top: 2px;
}

.contact-information__text--email {
  letter-spacing: 1px;
}

.contact-information__email-value {
  text-decoration: none;
  color: #ec6767;
  letter-spacing: -0.2px;
}

.contact-information__text--address-middle {
  border-left: 1px solid #cec7c7;
  border-right: 1px solid #cec7c7;
  text-align: center;
  width: 170px;
  margin: 0 14px;
}

.contact-information__icon {
  background: url('../img/sprites.png');
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 34px;
  height: 40px;
}

.contact-information__icon--address {
  background-position: -57px -65px;
}

.contact-information__icon--phone {
  background-position: -119px -10px;
}

.contact-information__icon--email {
  background-position: -10px -122px;
  margin-top: 1px;
}
