.welcome__title {
  font-size: 50px;
  margin: 60px 0 1px 1px;
  font-family: "Lato-bold", sans-serif;
}

.description {
  width: 700px;
  height: 340px;
  margin-right: 140px;
  float: left;
  letter-spacing: -0.1px;
}

.description__paragraph {
  margin: 0 0 15px 0;
  line-height: 27px;
  font-family: "Lato", sans-serif;
}

.description__title {
  font-weight: normal;
  margin: 31px 0 20px 0;
  font-size: 30px;
  line-height: 36px;
  font-family: "Lato", sans-serif;
  display: inline-block;
}

.description__title--bold {
  font-family: "Lato-bold", sans-serif;
  margin: 0 0 0 0;
}

.gallery {
  display: inline-block;
  width: 580px;
  height: 373px;
  margin-top: 31px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  background-color: aquamarine;
}

.question {
  display: inline-block;
  width: 340px;
  height: 143px;
  vertical-align: top;
  margin: 74px 136px 0 0;
  font-family: "Lato", sans-serif;
  letter-spacing: -0.07px;
}

.question--last {
  margin-right: 0;
}

.question__item {
  font-weight: normal;
  margin-top: 0;
}

.question__logo {
  width: 40px;
  height: 40px;
  background: url('../img/sprites.png');
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.question__logo--i-do {
  background-position: -10px -10px;
  margin: 0 5px 0 4px;
}

.question__logo--i-do-it {
  background-position: -65px -10px;
  margin: 0 9px 0 0;
}

.question__logo--about-me {
  background-position: -10px -65px;
  margin: -1px -5px 0 6px;
}

.question__answer {
  line-height: 27px;
}

.question__text {
  font-size: 25px;
}

.gallery__icon-prev {
  width: 13px;
  height: 24px;
  background: url('../img/sprites.png') -163px -90px;
  margin: 176px 0 0 -546px;
  position: absolute;
}

.gallery__icon-next {
  width: 13px;
  height: 24px;
  background: url('../img/sprites.png') -163px -46px;
  margin: 176px 0 0 -46px;
  position: absolute;
}

.gallery__image-title {
  position: absolute;
  color: #fff;
  margin: 326px 0 0 -556px;
}

.gallery__page-number {
  position: absolute;
  color: #fff;
  margin: 326px 0 0 -54px;
}
