@font-face {
  font-family: "LucidaGrandeBold";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Lucida-Grande/Lucida-Grande-Bold.ttf");
}
@font-face {
  font-family: "LucidaGrandeRegular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Lucida-Grande/Lucida-Grande-Regular.ttf");
}
@font-face {
  font-family: "LibreFranklinBold";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Libre-Franklin/Libre-Franklin-Bold.ttf");
}
@font-face {
  font-family: "LibreFranklinMedium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Libre-Franklin/Libre-Franklin-Medium.ttf");
}
@font-face {
  font-family: "LibreFranklinRegular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Libre-Franklin/Libre-Franklin-Regular.ttf");
}
html {
  overflow-x: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "LibreFranklinRegular", sans-serif;
  font-size: 16px;
}

button {
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@media (max-width: 1920px) and (min-width: 1024px) {
  .header {
    width: 1920px;
    height: 890px;
    background-image: url("../img/1920/header.jpg");
  }
  .header .header-container .header__title {
    margin-top: 54px;
  }
  .header .header-container .header__description {
    margin: 60px 0 20px 0;
    font-size: 35px;
    line-height: 43px;
  }
  .header .header-container .header__text {
    font-size: 18px;
    width: 533px;
    margin-left: 21px;
  }
  .header .header-container .header__form-container .header__form {
    margin-top: 42px;
  }

  .benefits {
    width: 1920px;
    height: 514px;
    padding-top: 102px;
    padding-left: 380px;
    box-sizing: border-box;
    flex-flow: row;
  }
  .benefits .benefits__description {
    width: 460px;
  }
  .benefits .benefits__description .benefits__description-header {
    font-size: 35px;
    line-height: 46px;
    margin-bottom: 33px;
  }
  .benefits .benefits__description .benefits__description-content {
    font-size: 16px;
    line-height: 27px;
    margin: 0 0 25px 0;
  }
  .benefits .benefits__articles {
    padding-left: 140px;
    padding-top: 10px;
    flex-flow: row;
  }
  .benefits .benefits__articles .benefits__item {
    width: 260px;
    margin-right: 40px;
  }
  .benefits .benefits__articles .benefits__item .benefits__header {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-top: 14px;
  }
  .benefits .benefits__articles .benefits__item .benefits__text {
    font-size: 16px;
    line-height: 23px;
    margin-top: 13px;
  }

  .features {
    width: 1920px;
    height: 810px;
    padding-top: 102px;
  }
  .features .features__description .features__header-description {
    font-size: 35px;
    line-height: 46px;
  }
  .features .features__description .features__text {
    width: 485px;
    font-size: 16px;
    line-height: 27px;
  }
  .features .feature-container {
    display: flex;
    flex-direction: row;
    padding-left: 380px;
    margin-top: 46px;
  }
  .features .feature-container .features__list {
    padding-left: 100px;
    padding-top: 15px;
    position: relative;
  }
  .features .feature-container .features__list .features__item:first-child::before {
    left: 39px;
    top: 10px;
  }
  .features .feature-container .features__list .features__item:nth-child(2)::before {
    left: 39px;
    top: 145px;
  }
  .features .feature-container .features__list .features__item:nth-child(3)::before {
    left: 39px;
    top: 308px;
  }
  .features .feature-container .features__list .features__item .features__item-description {
    width: 485px;
    margin-bottom: 48px;
  }

  .images {
    width: 1920px;
    height: 350px;
  }

  .faq {
    box-sizing: border-box;
    padding-top: 100px;
    width: 1920px;
    height: 660px;
  }
  .faq .faq__description {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .faq .faq__description .faq__header {
    font-size: 35px;
    line-height: 46px;
  }
  .faq .faq__description .faq__text {
    line-height: 27px;
  }
  .faq .faq__container {
    padding: 0 0 0 380px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 47px;
  }
  .faq .faq__container .faq__article {
    width: 560px;
    padding-bottom: 35px;
    margin-right: 39px;
  }
  .faq .faq__container .faq__article .faq__article-header .faq__label {
    display: none;
  }
  .faq .faq__container .faq__article:first-child {
    order: 0;
  }
  .faq .faq__container .faq__article:nth-child(2) {
    order: 2;
  }
  .faq .faq__container .faq__article:nth-child(3) {
    order: 1;
  }
  .faq .faq__container .faq__article:nth-child(4) {
    order: 3;
  }

  .footer {
    width: 1920px;
    padding: 10px 0 0;
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
  .header {
    width: 1024px;
    height: 826px;
    background-image: url("../img/1024/header.png");
  }
  .header .header-container .header__title {
    margin-top: 54px;
  }
  .header .header-container .header__description {
    margin: 36px 0 20px 0;
    font-size: 35px;
    line-height: 43px;
  }
  .header .header-container .header__text {
    font-size: 18px;
    width: 533px;
    margin-left: 25px;
  }
  .header .header-container .header__form-container .header__form {
    margin-top: 32px;
  }

  .benefits {
    width: 1024px;
    height: 417px;
    padding-top: 70px;
    padding-left: 47px;
    box-sizing: border-box;
    flex-flow: row;
  }
  .benefits .benefits__description {
    width: 450px;
    display: flex;
    flex-direction: column;
  }
  .benefits .benefits__description .benefits__description-header {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 17px;
    width: 450px;
  }
  .benefits .benefits__description .benefits__description-content {
    font-size: 16px;
    line-height: 27px;
    margin: 1px 0 14px 0;
  }
  .benefits .benefits__articles {
    padding-left: 30px;
    padding-top: 10px;
    flex-flow: row;
  }
  .benefits .benefits__articles .benefits__item {
    width: 210px;
    margin-right: 29px;
  }
  .benefits .benefits__articles .benefits__item .benefits__header {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-top: 16px;
  }
  .benefits .benefits__articles .benefits__item .benefits__text {
    font-size: 16px;
    line-height: 23px;
    margin-top: 13px;
  }

  .features {
    width: 1024px;
    height: 823px;
    padding-top: 73px;
  }
  .features .features__description .features__header-description {
    font-size: 30px;
    line-height: 46px;
  }
  .features .features__description .features__text {
    width: 485px;
    font-size: 16px;
    line-height: 27px;
  }
  .features .feature-container {
    display: flex;
    flex-direction: row;
    padding-left: 47px;
    margin-top: 46px;
  }
  .features .feature-container .features__list {
    padding-left: 81px;
    padding-top: 8px;
    position: relative;
  }
  .features .feature-container .features__list .features__item:first-child::before {
    left: 32px;
    top: 0;
  }
  .features .feature-container .features__list .features__item:nth-child(2)::before {
    left: 30px;
    top: 162px;
  }
  .features .feature-container .features__list .features__item:nth-child(3)::before {
    left: 31px;
    top: 351px;
  }
  .features .feature-container .features__list .features__item .features__item-description {
    width: 320px;
    margin-bottom: 18px;
  }
  .features .feature-container .features__list .features__item .features__item-description--second {
    margin-bottom: 47px;
  }

  .images {
    width: 1024px;
    height: 187px;
  }

  .faq {
    box-sizing: border-box;
    padding-top: 73px;
    width: 1024px;
    height: 664px;
  }
  .faq .faq__description {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .faq .faq__description .faq__header {
    font-size: 35px;
    line-height: 46px;
  }
  .faq .faq__description .faq__text {
    line-height: 27px;
  }
  .faq .faq__container {
    padding: 0 0 0 47px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 47px;
  }
  .faq .faq__container .faq__article {
    width: 450px;
    padding-bottom: 40px;
    margin-right: 27px;
  }
  .faq .faq__container .faq__article .faq__article-header .faq__label {
    display: none;
  }
  .faq .faq__container .faq__article:first-child {
    order: 0;
  }
  .faq .faq__container .faq__article:nth-child(2) {
    order: 2;
  }
  .faq .faq__container .faq__article:nth-child(3) {
    order: 1;
  }
  .faq .faq__container .faq__article:nth-child(4) {
    order: 3;
  }

  .footer {
    width: 1024px;
    padding: 10px 0 0;
  }
}
@media (max-width: 767px) and (min-width: 480px) {
  .header {
    width: 768px;
    height: 852px;
    background-image: url("../img/768/header.png");
  }
  .header .header-container .header__title {
    margin-top: 54px;
  }
  .header .header-container .header__description {
    margin: 36px 0 20px 0;
    font-size: 32px;
    line-height: 39px;
  }
  .header .header-container .header__text {
    font-size: 16px;
    width: 533px;
    margin-left: 3px;
  }
  .header .header-container .header__form-container .header__form {
    margin-top: 34px;
  }

  .benefits {
    width: 768px;
    height: 720px;
    padding-top: 60px;
    padding-left: 40px;
    flex-flow: column;
    box-sizing: border-box;
  }
  .benefits .benefits__description {
    width: 570px;
    display: flex;
    flex-direction: column;
  }
  .benefits .benefits__description .benefits__description-header {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 29px;
    width: 450px;
  }
  .benefits .benefits__description .benefits__description-content {
    font-size: 16px;
    line-height: 27px;
    margin: 2px 0 22px 0;
  }
  .benefits .benefits__articles {
    padding-left: 0;
    padding-top: 9px;
    flex-flow: row;
  }
  .benefits .benefits__articles .benefits__item {
    width: 330px;
    margin-right: 29px;
  }
  .benefits .benefits__articles .benefits__item .benefits__header {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-top: 16px;
  }
  .benefits .benefits__articles .benefits__item .benefits__text {
    font-size: 16px;
    line-height: 23px;
    margin-top: 13px;
  }

  .features {
    width: 768px;
    height: 1274px;
    padding-top: 60px;
  }
  .features .features__description .features__header-description {
    font-size: 30px;
    line-height: 46px;
  }
  .features .features__description .features__text {
    width: 485px;
    font-size: 16px;
    line-height: 27px;
  }
  .features .feature-container {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    margin-top: 29px;
  }
  .features .feature-container .features__list {
    padding-left: 56px;
    padding-top: 43px;
    position: relative;
  }
  .features .feature-container .features__list .features__item:first-child::before {
    left: 0;
    top: 35px;
  }
  .features .feature-container .features__list .features__item:nth-child(2)::before {
    left: 0;
    top: 170px;
  }
  .features .feature-container .features__list .features__item:nth-child(3)::before {
    left: 0;
    top: 307px;
  }
  .features .feature-container .features__list .features__item .features__item-description {
    width: 624px;
    margin-bottom: 47px;
  }

  .images {
    width: 768px;
    height: 560px;
  }

  .faq {
    box-sizing: border-box;
    padding-top: 61px;
    width: 768px;
  }
  .faq .faq__description {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .faq .faq__description .faq__header {
    font-size: 30px;
    line-height: 46px;
    text-align: center;
  }
  .faq .faq__description .faq__text {
    line-height: 19px;
  }
  .faq .faq__container {
    padding: 37px 0 0 41px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 27px;
  }
  .faq .faq__container .faq__article {
    width: 690px;
    margin: 0 27px 31px 0;
    background-color: #f8f8f8;
  }
  .faq .faq__container .faq__article .faq__article-description {
    display: none;
    width: 627px;
    margin-top: 3px;
    padding-left: 11px;
  }
  .faq .faq__container .faq__article .faq__article-header {
    width: 690px;
    background-color: #f8f8f8;
    height: 50px;
    padding: 14px 15px 0 10px;
    box-sizing: border-box;
  }
  .faq .faq__container .faq__article .faq__article-header .faq__label {
    display: inline-flex;
  }
  .faq .faq__container .faq__article .faq__article-header .faq__label::after {
    width: 20px;
    height: 20px;
    background: url("../img/sprites.png") -65px -65px;
    content: "";
    float: right;
  }
  .faq .faq__container .faq__article .faq__checkbox:checked ~ .faq__article-description {
    display: flex;
  }
  .faq .faq__container .faq__article .faq__checkbox:checked ~ .faq__article-header .faq__label::after {
    transform: rotate(45deg);
  }

  .footer {
    width: 768px;
    padding: 10px 0 0 4px;
  }
}
@media (max-width: 480px) and (min-width: 320px) {
  .header {
    width: 480px;
    height: 1011px;
    background-image: url("../img/480/header.png");
  }
  .header .header-container .header__title {
    margin-top: 27px;
  }
  .header .header-container .header__description {
    font-size: 30px;
    line-height: 38px;
    width: 342px;
    margin: 80px 0 0 35px;
    text-align: center;
  }
  .header .header-container .header__text {
    font-size: 16px;
    width: 371px;
    margin: 46px 20px 0 21px;
  }
  .header .header-container .header__form-container {
    margin-top: 64px;
  }
  .header .header-container .header__form-container .header__form {
    margin-top: 34px;
  }

  .benefits {
    width: 480px;
    padding-top: 65px;
    padding-left: 15px;
    flex-flow: column;
    box-sizing: border-box;
  }
  .benefits .benefits__description {
    width: 450px;
    display: flex;
    flex-direction: column;
  }
  .benefits .benefits__description .benefits__description-header {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 29px;
    width: 450px;
  }
  .benefits .benefits__description .benefits__description-content {
    font-size: 16px;
    line-height: 27px;
    margin: 2px 0 22px 0;
  }
  .benefits .benefits__articles {
    padding: 9px 0 0 0;
    margin-top: 9px;
    flex-flow: column;
  }
  .benefits .benefits__articles .benefits__item {
    width: 450px;
    margin: 0 29px 33px 0;
  }
  .benefits .benefits__articles .benefits__item .benefits__header {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-top: 6px;
  }
  .benefits .benefits__articles .benefits__item .benefits__text {
    font-size: 16px;
    line-height: 23px;
    margin-top: 6px;
  }

  .features {
    width: 480px;
    padding-top: 47px;
  }
  .features .features__description .features__header-description {
    font-size: 30px;
    line-height: 46px;
  }
  .features .features__description .features__text {
    font-size: 16px;
    margin-top: 20px;
    width: 449px;
    line-height: 25px;
  }
  .features .feature-container {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    margin-top: 33px;
  }
  .features .feature-container .features__list {
    padding-left: 50px;
    padding-top: 34px;
    position: relative;
  }
  .features .feature-container .features__list .features__item:first-child::before {
    left: 0;
    top: 26px;
  }
  .features .feature-container .features__list .features__item:nth-child(2)::before {
    left: 0;
    top: 194px;
  }
  .features .feature-container .features__list .features__item:nth-child(3)::before {
    left: 0;
    top: 362px;
  }
  .features .feature-container .features__list .features__item .features__item-description {
    width: 400px;
    margin-bottom: 47px;
    margin-top: 20px;
  }

  .images {
    width: 480px;
    margin-top: 20px;
  }

  .faq {
    box-sizing: border-box;
    padding-top: 65px;
    width: 480px;
  }
  .faq .faq__description {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .faq .faq__description .faq__header {
    font-size: 30px;
    line-height: 46px;
    text-align: center;
  }
  .faq .faq__description .faq__text {
    line-height: 19px;
    margin-top: 20px;
  }
  .faq .faq__container {
    padding: 36px 0 0 15px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;
  }
  .faq .faq__container .faq__article {
    margin: 0 27px 20px 0;
    background-color: #f8f8f8;
  }
  .faq .faq__container .faq__article .faq__article-description {
    display: none;
    margin-top: 3px;
    padding-left: 11px;
    width: 430px;
  }
  .faq .faq__container .faq__article .faq__article-header {
    width: 450px;
    background-color: #f8f8f8;
    height: 50px;
    padding: 14px 10px 0 10px;
    box-sizing: border-box;
  }
  .faq .faq__container .faq__article .faq__article-header .faq__label {
    display: inline-flex;
  }
  .faq .faq__container .faq__article .faq__article-header .faq__label::after {
    width: 20px;
    height: 20px;
    background: url("../img/sprites.png") -65px -65px;
    content: "";
    float: right;
  }
  .faq .faq__container .faq__article .faq__checkbox:checked ~ .faq__article-description {
    display: flex;
  }
  .faq .faq__container .faq__article .faq__checkbox:checked ~ .faq__article-header .faq__label::after {
    transform: rotate(45deg);
  }

  .footer {
    width: 480px;
    padding: 10px 0 0 4px;
  }
}
.header {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.header .header-container .header__title {
  font-family: "LucidaGrandeBold", sans-serif;
  color: #fff;
  font-size: 60px;
  line-height: 71px;
  justify-content: center;
  display: flex;
}
.header .header-container .header__description {
  font-family: "LibreFranklinRegular", sans-serif;
  color: #fff;
  justify-content: center;
  display: flex;
}
.header .header-container .header__text {
  font-family: "LibreFranklinRegular", sans-serif;
  color: #fff;
  line-height: 27px;
  text-align: center;
}
.header .header-container .header__form-container {
  justify-content: center;
  display: flex;
}
.header .header-container .header__form-container .header__form {
  flex-direction: column;
  display: flex;
  width: 360px;
  height: 454px;
  background-color: white;
  border-radius: 3px;
  box-sizing: border-box;
  padding-top: 30px;
  padding-left: 44px;
}
.header .header-container .header__form-container .header__form .header__form-field-label {
  font-family: "LibreFranklinMedium", sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 19px;
  margin-bottom: 8px;
}
.header .header-container .header__form-container .header__form .header__form-field {
  width: 280px;
  height: 43px;
  border: 1px solid #827d7d;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 30px;
  padding: 3px 0 0 9px;
  font-size: 16px;
  line-height: 19px;
  font-family: "LibreFranklinRegular", sans-serif;
}
.header .header-container .header__form-container .header__form .header__form-title {
  font-family: "LibreFranklinBold", sans-serif;
  color: #333;
  font-size: 18px;
  line-height: 21px;
  padding-left: 55px;
  margin-bottom: 30px;
}
.header .header-container .header__form-container .header__form .header__form-button {
  width: 280px;
  height: 43px;
  border-radius: 3px;
  background-color: #3358de;
  box-shadow: 0 3px 4px 0 rgba(72, 72, 72, 0.5);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  font-family: "LibreFranklinRegular", sans-serif;
}

.benefits {
  display: flex;
}
.benefits .benefits__description .benefits__description-header {
  color: #333;
  font-family: "LucidaGrandeRegular", sans-serif;
}
.benefits .benefits__description .benefits__description-content {
  font-family: "LibreFranklinRegular", sans-serif;
  color: #333;
}
.benefits .benefits__articles {
  display: flex;
}
.benefits .benefits__articles .benefits__item .benefits__header {
  font-family: "LibreFranklinMedium", sans-serif;
  color: #333;
}
.benefits .benefits__articles .benefits__item .benefits__text {
  color: #333;
  font-family: "LibreFranklinRegular", sans-serif;
}

.features {
  background-color: #f8f8f8;
  display: inline-block;
  box-sizing: border-box;
}
.features .features__description {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.features .features__description .features__header-description {
  font-family: "LucidaGrandeRegular", sans-serif;
  color: #333;
}
.features .features__description .features__text {
  text-align: center;
  font-family: "LibreFranklinRegular", sans-serif;
  color: #333;
}
.features .feature-container .features__list .features__item:first-child::before {
  width: 35px;
  height: 35px;
  background: url("../img/sprites.png") -10px -65px;
  position: absolute;
  display: inline-block;
  content: "";
}
.features .feature-container .features__list .features__item:nth-child(2)::before {
  width: 35px;
  height: 35px;
  background: url("../img/sprites.png") -65px -10px;
  position: absolute;
  display: inline-block;
  content: "";
}
.features .feature-container .features__list .features__item:nth-child(3)::before {
  width: 35px;
  height: 35px;
  background: url("../img/sprites.png") -10px -10px;
  position: absolute;
  display: inline-block;
  content: "";
}
.features .feature-container .features__list .features__item .features__header {
  font-family: "LibreFranklinMedium", sans-serif;
  color: #333;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.features .feature-container .features__list .features__item .features__item-description {
  font-family: "LibreFranklinRegular", sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 27px;
}

.images {
  font-size: 0;
}

.faq .faq__description .faq__header {
  color: #333;
  font-family: "LucidaGrandeRegular", sans-serif;
}
.faq .faq__description .faq__text {
  font-size: 16px;
  text-align: center;
  font-family: "LibreFranklinRegular", sans-serif;
}
.faq .faq__container .faq__article .faq__checkbox {
  display: none;
}
.faq .faq__container .faq__article .faq__label {
  float: right;
  cursor: pointer;
}
.faq .faq__container .faq__article .faq__article-header {
  line-height: 19px;
  font-size: 16px;
  color: #333;
  font-family: "LibreFranklinMedium", sans-serif;
  font-weight: 500;
}
.faq .faq__container .faq__article .faq__article-description {
  line-height: 27px;
  font-size: 16px;
  color: #333;
  font-family: "LibreFranklinRegular", sans-serif;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
  height: 70px;
}

/*# sourceMappingURL=main.css.map */
