.articles {
  &__top-button-container {
    margin-top: 20px;
    height: 100px;
  }

  &__right-button-container {
    margin-top: 20px;
    background: #f8f8f8;
  }

  &__button {
    @extend .primary-button;

    margin-right: 20px;

    &--block {
      display: block;
      margin-bottom: 50px;
    }

    &.selected {
      background-color: rgba(47, 107, 164, 0.87);
    }

    &:hover {
      background: #337ab7;
    }
  }

  &__left-side {
    @include make-lg-column(9);

    .blog-container {
      margin-top: 100px;

      .blog__post-delete-button,
      .blog__post-edit-button {
        display: none;
      }
    }
  }

  &__right-side {
    width: 231px;
    position: absolute;
    right: 0;
  }

  &__post-title {
    @extend .blog-article-text;

    padding: 10px;

    &-container {
      padding: 10px;
      border-bottom: 1px solid #c0c0c0;
      margin: -50px 0 5px 0;
      display: none;
    }

    &-button {
      display: block;
      background-color: #f8b766;
      height: 30px;
      font-size: 18px;
      margin: 10px;
      border-radius: 5px;
    }
  }

  &__button-container {
    margin-top: 20px;

    &--left {
      .articles__tab-post-title-container {
        position: absolute;

        .articles__post-title-button {
          display: inline-block;
        }
      }
    }
  }
}

.footer {
  position: absolute !important;
  bottom: 0 !important;
}
