$lucida-grande-bold: "LucidaGrandeBold";
$fontsource-lucida-grande-bold-path: "../fonts/LucidaGrandeBold/LucidaGrandeBold";
$lucida-grande-regular: "LucidaGrandeRegular";
$fontsource-lucida-grande-regular-path: "../fonts/LucidaGrandeRegular/LucidaGrandeRegular";
$hind-siliguri-bold: "HindSiliguriBold";
$fontsource-hind-siliguri-bold-path: "../fonts/HindSiliguriBold/HindSiliguri-Bold";
$hind-siliguri-regular: "HindSiliguriRegular";
$fontsource-hind-siliguri-regular-path: "../fonts/HindSiliguriRegular/HindSiliguri-Regular";
$hind-siliguri-semi-bold: "HindSiliguriSemiBold";
$fontsource-hind-siliguri-semi-bold-path: "../fonts/HindSiliguriSemiBold/HindSiliguri-SemiBold";
$hind-siliguri-medium: "HindSiliguriMedium";
$fontsource-hind-siliguri-medium-path: "../fonts/HindSiliguriMedium/HindSiliguri-Medium";
$hind-siliguri-light: "HindSiliguriLight";
$fontsource-hind-siliguri-light-path: "../fonts/HindSiliguriLight/HindSiliguri-Light";
