$button-color: $info-default;
$button-hover-color: $info-hover;
$button-active-color: $info-active;

$open-tab-color: $tabs-label-color-green;

$pagination-color: $checkbox-color-green;

$tab-container-color: #fbfbfb;
$main-content-color: #fff;
$footer-color: #fbfbfb;
