$button-color: $secondary-default;
$button-hover-color: $secondary-hover;
$button-active-color: $secondary-active;

$open-tab-color: $tabs-label-color-red;

$pagination-color: $secondary-default;

$tab-container-color: #fbfbfb;
$main-content-color: #fbfbfb;
$footer-color: #fff;
