$button-color: $primary-default;
$button-hover-color: $primary-hover;
$button-active-color: $primary-active;

$open-tab-color: $tabs-label-color-green;

$pagination-color: $primary-default;

$tab-container-color: #fbfbfb;
$main-content-color: #fff;
$footer-color: #fff;
