$font-roboto-light: "RobotoLight";
$font-roboto-light-path: "../fonts/Roboto-light/Roboto-light";
$font-roboto-medium: "RobotoMedium";
$font-roboto-medium-path: "../fonts/Roboto-medium/Roboto-medium";
$max-container-width: 1920px;
$header-height: 600px;
$padding-left-right: 250px;
